<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.mapper.system.SysMoitorMapper">

    <resultMap id="BaseResultMap" type="com.seed.domain.entity.system.SysMoitor">
            <result property="sysTotalMemory" column="sys_total_memory" jdbcType="BIGINT"/>
            <result property="sysFreeMemory" column="sys_free_memory" jdbcType="BIGINT"/>
            <result property="cpuCore" column="cpu_core" jdbcType="BIGINT"/>
            <result property="jvmHeapMemoryMax" column="jvm_heap_memory_max" jdbcType="BIGINT"/>
            <result property="jvmHeapMemoryUsed" column="jvm_heap_memory_used" jdbcType="BIGINT"/>
            <result property="sysCpuUsed" column="sys_cpu_used" jdbcType="DECIMAL"/>
            <result property="jvmCpuUsed" column="jvm_cpu_used" jdbcType="DECIMAL"/>
            <result property="diskTotalSize" column="disk_total_size" jdbcType="BIGINT"/>
            <result property="diskFreeSize" column="disk_free_size" jdbcType="BIGINT"/>
            <result property="database" column="database" jdbcType="VARCHAR"/>
            <result property="redis" column="redis" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sys_total_memory,sys_free_memory,cpu_core,
        jvm_heap_memory_max,jvm_heap_memory_used,sys_cpu_used,
        jvm_cpu_used,disk_total_size,disk_free_size,
        database,redis,create_time
    </sql>

    <insert id="insert">
        insert into sys_moitor
        ( sys_total_memory,sys_free_memory,cpu_core
        ,jvm_heap_memory_max,jvm_heap_memory_used,sys_cpu_used
        ,jvm_cpu_used,disk_total_size,disk_free_size
        ,database,redis,create_time
        )
        values (#{sysTotalMemory,jdbcType=BIGINT},#{sysFreeMemory,jdbcType=BIGINT},#{cpuCore,jdbcType=BIGINT}
        ,#{jvmHeapMemoryMax,jdbcType=BIGINT},#{jvmHeapMemoryUsed,jdbcType=BIGINT},#{sysCpuUsed,jdbcType=DECIMAL}
        ,#{jvmCpuUsed,jdbcType=DECIMAL},#{diskTotalSize,jdbcType=BIGINT},#{diskFreeSize,jdbcType=BIGINT}
        ,#{database,jdbcType=VARCHAR},#{redis,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO sys_moitor ( sys_total_memory,sys_free_memory,cpu_core
        ,jvm_heap_memory_max,jvm_heap_memory_used,sys_cpu_used
        ,jvm_cpu_used,disk_total_size,disk_free_size
        ,database,redis,create_time
        )
        VALUES
        <foreach collection="sysMoitorSet" item="item" separator=",">
            (#{sysTotalMemory,jdbcType=BIGINT},#{sysFreeMemory,jdbcType=BIGINT},#{cpuCore,jdbcType=BIGINT}
            ,#{jvmHeapMemoryMax,jdbcType=BIGINT},#{jvmHeapMemoryUsed,jdbcType=BIGINT},#{sysCpuUsed,jdbcType=DECIMAL}
            ,#{jvmCpuUsed,jdbcType=DECIMAL},#{diskTotalSize,jdbcType=BIGINT},#{diskFreeSize,jdbcType=BIGINT}
            ,#{database,jdbcType=VARCHAR},#{redis,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
            )
        </foreach>

    </insert>

    <insert id="insertSelective">
        insert into sys_moitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="sysTotalMemory != null">sys_total_memory,</if>
                <if test="sysFreeMemory != null">sys_free_memory,</if>
                <if test="cpuCore != null">cpu_core,</if>
                <if test="jvmHeapMemoryMax != null">jvm_heap_memory_max,</if>
                <if test="jvmHeapMemoryUsed != null">jvm_heap_memory_used,</if>
                <if test="sysCpuUsed != null">sys_cpu_used,</if>
                <if test="jvmCpuUsed != null">jvm_cpu_used,</if>
                <if test="diskTotalSize != null">disk_total_size,</if>
                <if test="diskFreeSize != null">disk_free_size,</if>
                <if test="database != null">database,</if>
                <if test="redis != null">redis,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="sysTotalMemory != null">#{sysTotalMemory,jdbcType=BIGINT},</if>
                <if test="sysFreeMemory != null">#{sysFreeMemory,jdbcType=BIGINT},</if>
                <if test="cpuCore != null">#{cpuCore,jdbcType=BIGINT},</if>
                <if test="jvmHeapMemoryMax != null">#{jvmHeapMemoryMax,jdbcType=BIGINT},</if>
                <if test="jvmHeapMemoryUsed != null">#{jvmHeapMemoryUsed,jdbcType=BIGINT},</if>
                <if test="sysCpuUsed != null">#{sysCpuUsed,jdbcType=DECIMAL},</if>
                <if test="jvmCpuUsed != null">#{jvmCpuUsed,jdbcType=DECIMAL},</if>
                <if test="diskTotalSize != null">#{diskTotalSize,jdbcType=BIGINT},</if>
                <if test="diskFreeSize != null">#{diskFreeSize,jdbcType=BIGINT},</if>
                <if test="database != null">#{database,jdbcType=VARCHAR},</if>
                <if test="redis != null">#{redis,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
</mapper>
